.flex {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;


}
.container{
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  align-items: center;
  text-align: center;
  padding: 10px;

}
.container div{
  padding: 10px;
  display: flex;
  border: 1px solid black;

}
